<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myrun">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MyRun"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.myrun">
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="dxpds3tna7" />


        <activity android:name="com.example.myrun.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="com.example.myrun.MainActivity" />
        <activity android:name="com.example.myrun.SignUpActivity" />
        <activity android:name="com.example.myrun.MapActivity" />
        <activity android:name="com.example.myrun.ProfileMainActivity" />
        <activity android:name="com.example.myrun.ProfileFriendsAddActivity" />
        <activity android:name="com.example.myrun.ProfileEditActivity" />
        <activity android:name="com.example.myrun.GamingActivity" />
        <activity android:name="com.example.myrun.GamingEnd" />
        <activity android:name="com.example.myrun.GamingRunActivity" />
        <activity android:name="com.example.myrun.GamingRunStopActivity" />
        <activity android:name="com.example.myrun.GamingSettingActivity" />
        <activity android:name="com.example.myrun.HistoryMainActivity" />
        <activity android:name="com.example.myrun.HistoryRunning1__" />




        <meta-data android:name="android.max_aspect" android:value="2.1" />

        <!-- firebase -cloud messaging for push alarm -->
        <service
            android:name="com.example.myrun.MyFirebaseMessagingService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

    </application>


    <!-- permission 추가 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>


</manifest>